* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	overflow: hidden;
}

body {
	position: relative;
	color: #141b28;
	font-weight: 500;
	width: 100vw;
	height: 100vh;
	background-color: rgba(20, 27, 40, 0.5);
	overflow: hidden;
	touch-action: none;
}

input {
	-webkit-overflow-scrolling: touch;
}
